.form_first_step {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_first_step_title {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 0;
}
.form_first_step_label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.form_first_step input {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  border: solid 1px #222222;
  width: 90%;
  padding: 19px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  outline: none; /* Añadir esta línea */
  cursor: pointer;
  color: #444444;
}

.form_first_step_date {
  /* background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  border: none;
  width: 90%;
  padding: 19px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  outline: none; Añadir esta línea 
  float: right; */
}

.select_container {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 12px;
  padding: 19px 20px;
  width: 90%;
  border: solid 1px #222222;
}
.form_first_step select {
  width: 95%;
  color: #444444;
  background: transparent;
  border-radius: 12px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  outline: none; /* Añadir esta línea */
}
.form_first_step select option {
  background: pink;
  color: black;
}
.connect_wallet_button {
  background-image: radial-gradient(
    circle farthest-corner at 10.2% 55.8%,
    rgba(252, 37, 103, 1) 0%,
    rgba(250, 38, 151, 1) 46.2%,
    rgba(186, 8, 181, 1) 90.1%
  );
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border-radius: 9px;
  padding: 19px 0px;
}



.datepickerContainer {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 94%;
}

.dateSide {
  width: 45%;
}

@media screen and (max-width: 600px) {
  .form_first_step_title {
    font-size: 20px;
  }
}
