/* Google webfonts inclusion - download and consolidate fonts to reduce http requests */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&family=Space+Grotesk:wght@400;500;600&display=swap");
html {
  font-family: "Space Grotesk", sans-serif;
}

body {
  /* font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif; */

  color: #fff;
  padding: 0 0 0px 0;
  margin: 0;
<<<<<<< HEAD

  background-image: url('./img/bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
=======
>>>>>>> dev-merge
}

footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 5px 0 5px;

  width: 99%;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin: 0 10px;
}

.socials img {
  cursor: pointer;
}

.tokenLogo {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.inBadge {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.incBadge {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}